
@{
    ViewBag.Title = "listEmployee";
}
<script src="~/Assets/CreateEmp.js"></script>

<h2 class="h1 form-group">List Employee</h2>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Serial #</th>
                <th>Employee Name</th>
                <th>Email</th>
                <th>Age</th>
                <th>Address</th>
                <th>Department</th>
                <th>Edit/Delete</th>
            </tr>
        </thead>
        <tbody id="listdata">  
            @*<button <a href="https://localhost:44380/Employee/Creating"></a>> U</button>*@
        </tbody>
    </table>
</div>
